*{
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}
h1{
    font-size: 24px; 
    color: #242424;
    font-weight: 900;
}
h2{
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}
p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
ul li{
    margin-top: 10px;
    font-size: 18px;
    font-family: monospace;
    
}
ul{
    max-width: 40%;
    margin-left: 100px;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    list-style: none;
}
a{
   font-weight: bold; 
}
ul .neuq-rione, ul li.neuq-rione a{
    color: green;
}
ul a{
    color: orange;
    text-decoration: underline;
}
ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


